<nav class="navbar navbar-inverse navbar-fixed-top">
    <p>
        <a href="/">Home</a> | <a href="/work">Work</a> | <a href="/projects">Projects</a> | <a href="/blog">Blog</a> |
        {{ if .admin }}
        <a href="/admin/create">Create</a> |
    <form action="/logout" method="post">
        <button type="submit">Log out</button>
    </form>
    <br>
    <form action="/admin/delete/all" method="post">
        <button type="submit">Delete all Posts</button>
    </form>
    {{ else }}
    <a href="/login">Log in</a>
    {{ end }}
    </p>
</nav>